.navbar{
    margin-top: 0px;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .navbar-light .navbar-brand {
    color: rgb(145,0,255);
  }
  .navbar-brand{
    font-family: 'Roboto Slab', serif;
    font-size:1.7rem;
    font-weight:900;
    letter-spacing:2px;
  }
  li a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 700;
  }
  .Navbar{
    position: sticky;
    top: 0px;
    z-index:2;
}

  body {
    text-align:center;
    background-color: white;
    background-image: url("https://media.istockphoto.com/vectors/abstract-geometric-white-and-gray-color-background-vector-vector-id1148528640?k=20&m=1148528640&s=612x612&w=0&h=SiDT93Y0HJ1tCrlDmj3-7FzpM1ZmzrPs_tjqJOMdiF0=");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    margin-top:50px;
    color: #002366;
    text-shadow: 0 2 2 grey;
    font-size:3rem;
    text-align: center;
  }
  table{
    margin: 20px auto 150px auto;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0.5%;
    border-collapse: collapse;
    border: 2px solid #b638ff;
  }
  th{
    height: 48px;
    text-align: left;
    background-color: #CAB8FF;
    color:white;
  }
  td {
    height: 55px;
    text-align:left;
    width: 290px;
    padding: 5px;
  }
  tr:nth-child(odd) {
    background-color: #F0D9FF;
  }
  .edit a{
    font-size: 20px;
  }
  .edit a:link{
    text-decoration: none;
  }
  .edit a:hover {
    color: hotpink;
    text-decoration: underline;
  }
  .edit a:active {
    color: green;
  }
  .add a{
    font-size: 20px;
  }
  .add a:link{
    text-decoration: none;
  }
  .add a:hover {
    color: hotpink;
    text-decoration: underline;
  }
  .add a:active {
    color: green;
  }
  .edit{
    padding: 2%;
    text-align: center;
    background-color: #F0D9FF;
    margin-bottom: 40px;
  }
  .add{
    padding: 2%;
    text-align: center;
    background-color: #F0D9FF;
    margin-bottom: 40px;
    margin-top: 20px;
  }