<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href={{url_for('static', filename="about.css" )}}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Noto+Sans+Mono:wght@300&family=Roboto+Slab:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/9daeb8e3e3.js" crossorigin="anonymous"></script>
    <title>About</title>
</head>

<body>
    <div class="top">
        <div class="inner">
            <a href="#" class="timings">Mon-Fri 8.00AM - 6.00PM </a>
            |
            <a href="#" class="contact">+91-838323862 </a>
            |
            <a href="#" class="email">@pathology.management</a>
        </div>
    </div>
    <!-- navbar -->
    <div class="Navbar">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#F0D9FF;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('home') }}"><img src="/static/photos/logo.png" alt=".."
                        width="45" height="35" class="d-inline-block align-text-top"> G1 Pathology Lab</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('addPatientPage') }}">Add Patient</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('DoctorPage') }}">| Doctors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('viewTestPage') }}">| View Tests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('addTestPage')}}">| Add Test</a>
                        </li>
                        <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('equipmentPage')}}">| Equipments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">| Search Patient</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('placeOrderPage') }}">| Place Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">| About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="first">
        <div class="title">
            <span>G1</span> PATHOLOGY LAB
        </div>
        <div class="motto">
            We are a multi-disciplinary laboratory with the most advanced equipment that is committed to focussed and
            efficient drug discovery.
        </div>
    </div>
    <div class="second row">
        <div class="intro col-md-6">
            <div class="second-first">
                About Us
            </div>
            <div class="second-second">
                We Are The Trusted Experts
            </div>
            <div class="second-third">
                Always available for you!
            </div>
            <div class="second-fourth">
                <p>We focus on providing patients quality diagnostic healthcare services in India. Through our network,
                    we offer patients convenient locations for their diagnostic healthcare services and efficient
                    service. With over 5000+ diagnostic and related healthcare tests and services offered, we believe we
                    are capable of performing substantially all of the diagnostic healthcare tests and services
                    currently prescribed by physicians in India.</p>
            </div>
            <div class="second-fifth">
                AWARD WINNING PATHOLOGY LAB
            </div>

        </div>

        <div class="carousel1 col-md-6">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel"
                data-bs-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://joinpop.org/wp-content/uploads/2019/04/laboratory.jpg" class="d-block w-100"
                            alt="..." style="height: 360px;">
                    </div>
                    <div class="carousel-item">
                        <img src="http://sndhospital.com/wp-content/uploads/2016/09/6-1.jpg" class="d-block w-100"
                            alt="..." style="height: 360px;">
                    </div>
                    <div class="carousel-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjKUunR2B4Svr0xqLh_PeShBcsslchJ4LlOg&usqp=CAU"
                            class="d-block w-100" alt="..." style="height: 360px;">
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="doctors">
        <h3>Meet Our Team</h3>
    </div>
    <div class="third row">
        <div class="card col-md-3" style="width: 18rem;">
            <img src="static/photos/doctor1.png" class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body">
                <h5 class="card-title">Jerrod M. Wheatley</h5>
                <h6>CEO</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Twitter</a>
            </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
            <img src="static/photos/doctor2.png" class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body">
                <h5 class="card-title">Lena Adms
                </h5>
                <h6>LAB MANAGER</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Twitter</a>
            </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
            <img src="static/photos/doctor3.png" class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body">
                <h5 class="card-title">Alex Mitchell
                </h5>
                <h6>LAB SUPERVISOR
                </h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Twitter</a>
            </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
            <img src="static/photos/doctor4.png" class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body">
                <h5 class="card-title">Samantha Wood
                </h5>
                <h6>PHARMACIST
                </h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Twitter</a>
            </div>
        </div>
    </div>
    <div class="fourth">
        <div class="partners">
            <div class="heading">
                TRUSTED PARTNERS
            </div>
            <div class="about">
                We are proud to have some of the most well-known and respected partners – and we love to do new
                partnerships too. We aren’t just talk. We are in the game, in a big way, and are ready to partner with
                you.
            </div>
            <div class="row">

                <!-- <a class="column2" href="#"><img
                        src="https://spinx-live-6jsc7gkvbdujvrbfu3miqzaj1t1.netdna-ssl.com/images/Logo1.png"
                        style="width: 150px;"></a> -->
                <!-- <a class="column2" href="#"><img
                        src="https://spinx-live-6jsc7gkvbdujvrbfu3miqzaj1t1.netdna-ssl.com/images/Logo2.png"
                        style="width: 150px;"></a> -->
                <!-- <a class="column2" href="#"><img
                        src="https://spinx-live-6jsc7gkvbdujvrbfu3miqzaj1t1.netdna-ssl.com/images/Logo3.png"
                        style="width: 150px;"></a> -->
                <!-- <a class="column2" href="#"><img
                        src="https://spinx-live-6jsc7gkvbdujvrbfu3miqzaj1t1.netdna-ssl.com/images/Logo4.png"
                        style="width: 150px;"></a>
                <a class="column2" href="#"><img
                        src="https://spinx-live-6jsc7gkvbdujvrbfu3miqzaj1t1.netdna-ssl.com/images/Logo5.png"
                        style="width: 150px;"></a> -->

                <a class="column2" href="#"><img
                        src="https://mediniz-images-2018-100.s3.ap-south-1.amazonaws.com/post-images/dr-lal-pathlabs-baguiati-kolkata_1624963589.jpg"
                        style="width: 150px; height: 100px;"></a>
                <a class="column2" href="#"><img
                        src="https://i.pinimg.com/736x/27/84/f1/2784f1a590e10f760bce8b281142d338.jpg"
                        style="width: 150px; height: 100px;"></a>
                <a class="column2" href="#"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Ovk6XRsOaAbHf8i7N5GEUrJvJd8MY7SpyVANbn7kRRA2DCr-fwG0q6MQaeE91-5Qdvw&usqp=CAU"
                        style="width: 150px; height: 100px;"></a>
                <a class="column2" href="#"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQg0J0pMxhWIX6qvZQje_vnPDGd4kinDAt36Yiu8vc1-pXfaL-7yL5Gw8Cc641JNB3BT9E&usqp=CAU"
                        style="width: 150px; height: 100px;"></a>
                <a class="column2" href="#"><img src="https://www.cncpathlab.com/lebo/default/assets/img/cnc-logo.png"
                        style="width: 150px; height: 100px;"></a>
            </div>

            <div class="row">

                <!-- <a class="column2" href="#"><img
                        src="https://spinx-live-6jsc7gkvbdujvrbfu3miqzaj1t1.netdna-ssl.com/images/Logo7.png"
                        style="width: 150px;"></a>
                <a class="column2" href="#"><img
                        src="https://spinx-live-6jsc7gkvbdujvrbfu3miqzaj1t1.netdna-ssl.com/images/Logo8.png"
                        style="width: 150px;"></a>
                <a class="column2" href="#"><img
                        src="https://spinx-live-6jsc7gkvbdujvrbfu3miqzaj1t1.netdna-ssl.com/images/Logo9.png"
                        style="width: 150px;"></a>
                <a class="column2" href="#"><img
                        src="https://spinx-live-6jsc7gkvbdujvrbfu3miqzaj1t1.netdna-ssl.com/images/Logo10.png"
                        style="width: 150px;"></a>
                <a class="column2" href="#"><img
                        src="https://spinx-live-6jsc7gkvbdujvrbfu3miqzaj1t1.netdna-ssl.com/images/Logo11.png"
                        style="width: 150px;"></a> -->
                <a class="column2" href="#"><img src="http://assets.webnish.com/IMG/173/93173/finallogo-330x90.png"
                        style="width: 150px; height: 100px;"></a>
                <a class="column2" href="#"><img src="http://static.allservicepoint.com/upload/Add/5fae213c12645.png"
                        style="width: 150px; height: 100px;"></a>
                <a class="column2" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNVs6CBWUl_XoUDVeuoQZNK5UubOy9MtEOG6l1OrnEFdLvND3XIFHK6SPNYzt2Yyp_Lac&usqp=CAU"
                        style="width: 150px; height: 100px;"></a>
                <a class="column2" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpx4HgWr_SWgyeexdWGKFNvjdhi3Oo_Kz8G8MaBe-jQNTh8MCIcPhi9FSgC4PazPgAwgc&usqp=CAU"
                        style="width: 150px; height: 100px;"></a>
                <a class="column2" href="#"><img src="https://www.logodesign.net/logo-new/lab-microscope-in-swooshes-7236ld.png?industry=lab"
                        style="width: 150px; height: 100px;"></a>
            </div>
        </div>
    </div>
    <div class="fifth">
        <div class="fifth-heading">
            <h3>What We Do?</h3>
        </div>
        <div class="row">
            <div class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Research</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Analysis</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Testing</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sixth">
        <h2>CONTACT US</h2>
        <p>1 N. Cactus Ave., WI 54302</p>
        <a href="#">+91-838323862</a><br>
        <a href="#">@pathology.management</a><br>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram-square"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>