<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Successful Verification</title>
    <style media="screen">
      body {
        text-align:center;
        background-color: white;
      }
      h1 {
        margin-top:50px;
        color: #002366;
        text-shadow: 0 2 2 grey;
        font-size:3rem;
        text-align: center;
      }
      h2{
        color: rgb(145,0,255);
      }
    </style>
  </head>
  <body>
    <h1>OTP Verified Succesfully!</h1>
    <h2>Order Placed</h2>
    <div style="background-color:#F0D9FF;height: 45px;width: 30%;margin: 30px auto;text-align:center;">
      <a href="/home" style="text-decoration: none;color:white;font-size:20px;">Back to Home Page</a>
    </div>
  </body>
</html>
