<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Test</title>
    <link rel="stylesheet" href="{{url_for('static',filename='addtest.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Noto+Sans+Mono:wght@300&family=Roboto+Slab:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#F0D9FF;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">Pathology Lab</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('addPatientPage') }}">Add Patient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('viewTestPage') }}">| View Tests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('addTestPage')}}">| Add Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">| Search Patient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('placeOrderPage') }}">| Place Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">| About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">| Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 class="heading">ADD TESTS</h1>

   
    <form method="POST" action="{{ url_for('makebill')}}" id="form" class="form"
            style="border: 5px solid rgb(131, 121, 167); border-radius: 10px; padding: 2%;">
            
            <div>
                <h>Patient name :</h2>
                <SELECT name="patientname" id="patient" style="font-family:verdana">
                    <option value="NULL">NULL</option>
                    {% for j in patientnamelist %}
                    <OPTION value="{{j[0]}}">{{j[0]}}</OPTION>
                    {% endfor %}
                </SELECT>
                <br>
                <h>Doctor name :</h2>
                    <SELECT name="doctorname" id="doctor" style="font-family:verdana">
                        <option value="NULL">NULL</option>
                        {% for j in doctornamelist %}
                        <OPTION value="{{j[0]}}">{{j[0]}}</OPTION>
                        {% endfor %}
                    </SELECT>
                    <br>
                <h1 style="text-align: center;">SELECT TESTS</h1>
                </div>
            </div>

            <div class="mb-3" style="margin: 20px;">
                
                <!-- <label for="test" class="form-label">SELECT TESTS </label> -->
                <br>
                
                <SELECT name="test1" id="test1" style="font-family:verdana">
                    <option value="NULL">NULL</option>
                    {% for j in testlist %}
                    <OPTION value="{{j[1]}}">{{j[1]}}</OPTION>
                    {% endfor %}
                </SELECT>
                <br>
                <SELECT name="test2" id="test2" style="font-family:verdana">
                    <option value="NULL">NULL</option>
                    {% for j in testlist %}
                    <OPTION value="{{j[1]}}">{{j[1]}}</OPTION>
                    {% endfor %}
                </SELECT>
                <br>
                <SELECT name="test3" id="test3" style="font-family:verdana">
                    <option value="NULL">NULL</option>
                    {% for j in testlist %}
                    <OPTION value="{{j[1]}}">{{j[1]}}</OPTION>
                    {% endfor %}
                </SELECT>
                <br>
                <SELECT name="test4" id="test4" style="font-family:verdana">
                    <option value="NULL">NULL</option>
                    {% for j in testlist %}
                    <OPTION value="{{j[1]}}">{{j[1]}}</OPTION>
                    {% endfor %}
                </SELECT>
            </div>



            <div class="submitbtn" style="text-align: center;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>

</body>

</html>