<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>View Test</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href={{url_for('static', filename="viewTest.css" )}}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Noto+Sans+Mono:wght@300&family=Roboto+Slab:wght@700&display=swap"
    rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
    function confirmation() {
      var res = confirm("Are you sure you want to delete this entry?");

      if (res)
        return true;
      else
        return false;
    }
  </script>

</head>

<body>
  <!-- navbar -->
  <div class="Navbar">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#F0D9FF;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}"><img src="/static/photos/logo.png" alt=".."
        width="45" height="35" class="d-inline-block align-text-top"> G1 Pathology Lab</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('addPatientPage') }}">Add Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('DoctorPage') }}">| Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('viewTestPage') }}">| View Tests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('addTestPage')}}">| Add Test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('equipmentPage')}}">| Equipments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">| Search Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('placeOrderPage') }}">| Place Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">| About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

  <h1>Available Tests</h1>

  <table border=3>
    <tr>
      <th>Test ID</th>
      <th>Test Name</th>
      <th>Price(in rupees)</th>
      <th>Edit</th>
      <th>Delete</th>

    </tr>

    {% for i in range(length) %}
    <tr>
      {% for j in range(3) %}
      <td>{{ result[j][i] }}</td>
      {% endfor %}
      <td><a href="{{ url_for('editTestPage', testId = result[0][i]) }}">EDIT</a></td>
      <td><a href="{{ url_for('deleteTest', testId = result[0][i]) }}" onclick="return confirmation()">DELETE</a></td>

    </tr>
    {% endfor %}
  </table>

  

</body>